[Unit]
Description=Backup db

[Service]
Type=oneshot
User=debian
Group=debian
WorkingDirectory=/home/debian/cycling-routes
ExecStart=/bin/bash /home/debian/cycling-routes/services/backup.sh