{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
  <div class="max-w-2xl mx-auto mt-10 bg-white border border-gray-200 rounded-xl shadow p-8 relative">
    <a href="/" class="absolute top-4 right-4 text-blue-600 hover:underline text-sm font-semibold">← Back</a>
    <h1 class="text-2xl font-bold mb-4">About</h1>
    <p>The aim of this website is to provide a platform for members of WUCT to share and discover cycling routes.</p>

    <h2 class="text-xl font-semibold mt-6 mb-2">Technical Information</h2>
    <p>This site is built using Flask, a Python web framework. It uses a SQLite database to store route data. For maps, it uses Leaflet.js
         to display GPX files. Currently it uses my own fork of leaflet-elevation for elevation profiles that fixes some bugs upstream.</p>
        
    <p>It's currently hosted on a STARDUST1-S VPS from Scaleway. It only has an IPV6 address so it uses a cloudflare tunnel to expose the site to the internet.
        Backups are made every 8 hours using a systemd timer and service. The script zips the database file and GPX files and
        uploads them to a Cloudflare R2 bucket.</p>
    
    <h2 class="text-xl font-semibold mt-6 mb-2">Source Code</h2>
    <p>I am not a web developer. While the source code is available on GitHub, I strongly recommend you <strong>do not</strong> look at it.</p>
    <p>Doing so may cause the following side effects:</p>
    <ul style="list-style-type:disc; padding-left: 20px;">
      <li>Eye twitching (mild to severe)</li>
      <li>Compulsive refactoring</li>
      <li>Existential dread from the various security vulnerabilities</li>
      <li>Sudden desire to burn your keyboard and delete your GitHub account</li>
    </ul>
    <p>Proceed at your own risk.</p>
    <br>
    <p>The source code: <a href="https://github.com/goshawk22/cycling-routes" class="text-blue-600 hover:underline">goshawk22/cycling-routes</a></p>
    <p>Feel free to report issues (as long as I can fix them). Contributions are welcome! (and very much needed)</p>
  </div>
  {% endblock %}
